
<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <a class='navbar-brand' href='/'>
                TinyHomeMe
            </a>
        </div>
        <div class='pull-right'>
            <a href="/info" class='btn btn-default navbar-btn'>California</a>
            <a href='/users/new' class='btn btn-default navbar-btn'>Register</a>
        </div>
        <div class='pull-left'>
            <a href='/info' class='btn btn-default navbar-btn'>Home</a>
        </div>
    </div>
</nav>
