<fieldset>
<legend>{{title}}</legend>
<!-- NAME -->
<div class="form-group">
  <label for="users-name">Name</label><br>
  <input id="users-name" type="text" name="name" value="{{ users.name }}"/>
</div>
<!-- PRICE -->
<div class="form-group">
  <label for="users-price">Email</label><br>
  $<input id="users-price" type="text" name="price" value="{{ users.price }}"/>
</div>
<!-- IMAGE -->
<div class="form-group">
  <label for="users-image">Image URL</label><br>
  <input id="users-image" type="text" name="image" value="{{ users.image }}">
</div>
</fieldset>

<!-- BUTTON -->
<div class="form-group">
  <button type="submit" formaction="/" formmethod="GET">Cancel</button>
  <button type="submit">Save users</button>
</div>
