<fieldset>
<legend>{{title}}</legend>
<!-- NAME -->
<div class="form-group">
  <label for="user-name">Name</label><br>
  <input id="user-name" type="text" name="name" value="{{ user.name }}"/>
</div>
<!-- PRICE -->
<div class="form-group">
  <label for="user-price">Price</label><br>
  <input id="user-price" type="text" name="price" value="{{ user.price }}"/>
</div>
<!-- IMAGE -->
<div class="form-group">
  <label for="user-image">Image URL</label><br>
  <input id="user-image" type="text" name="image" value="{{ user.image }}">
</div>
</fieldset>

<!-- BUTTON -->
<div class="form-group">
  <button type="submit" formaction="/" formmethod="GET">Cancel</button>
  <button type="submit">Save user</button>
</div>
