<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
 <h1 style="text-align:center">Tiny Home Me</h1>
<br>
<p>
TinyHomeMe's goal is to facilitate healthy and environmentally sustainable living standards through attainable housing. We will accomplish this goal by developing small structures in backyards that are legally-permitted, tax-paying, and rent-able, living spaces. Our housing project is designed to support the needs of diverse demographics across the city.
</p>
<br>
<p>As a result of the housing crisis in California and other parts of the country the state has overriden regulations prohibiting Tiny Home structures in many peoples backyards and properties allowing them to stay in families,
this opens up a wealth of opportunities for homeowners and gives them the opportunity to build rentable units to provide them with new income streams,
for seniors considering reverse mortgages, Tine Home Me seeks to match clients with financing and TinyHome Providers as an alternative to losing their properties,
for Clients who own multiple rental properties, just the increase in property value along with new rental incomes makes Tiny Homes an incredible opportunity, these are just a few examples of why the Tine Home market is set to explode with California undoubtedly becoming its biggest market</p>
<br>
<p> Tine Home Me is a referrel network to find clients the best possible solutions for city permitting, financing, construction and even property management, with our large network of providers of all sorts, TinyHomeMe offers a free appraisal and evaluation of your properties eligiblity and potential.</p>
{% endblock %}
