<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>{{ msg }}</h1>
<p>Tiny Toronto's goal is to facilitate healthy and environmentally sustainable living standards through attainable housing. We will accomplish this goal by developing small structures in backyards that are legally-permitted, tax-paying, and rent-able, living spaces. Our housing project is designed to support the needs of diverse demographics across the city. Our two other projects (neighborhood food share programs and car doc’s for publically rent-able cars) will help to make attainable housing opportunities possible.</p>


{% endblock %}
