<!-- templates/users_new.html -->

{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/users'>
    <fieldset>
        <legend>TinyHomeMe Application</legend>
        <!-- TITLE -->
        <p>
            <label for='user-title'>Full Name</label><br>
            <input id='user-title' type='text' name='title' />
        </p>

        <!-- DESCRIPTION -->
        <p>
            <label for='description'>Email</label><br>
            <input id='description' type='text' name='description' />
        </p>

        <!-- VIDEO LINKS -->
        <p>
            <label for='phone'>Phone Number</label><br>
            <input id='phone' type='text' name='phone' />
        </p>

    </fieldset>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Save user</button>
    </p>
</form>

<p> Thankyou for your interest in our company, a TinyHomeMe agent will be make contact with you in the next few days to talk about possible soliutions to your tiny home needs </p>
{% endblock %}
